/**********************************************************************/
/*! \file  audio.css
 * \author Seth Peterson
 * \par    Course: CSD 122
 * \date   2020-03-16
 * \brief
 *     This file contains style specific to the audio webpage.
 */
/**********************************************************************/
main.container-row
{
  justify-content:space-evenly;
}

main div
{
  text-align:center;
}

div.main-column
{
  flex:0.3;
}
