/**********************************************************************/
/*! \file  audio.css
 * \author Seth Peterson
 * \date   2020-03-16
 * \brief
 *     This file contains style specific to the audio webpage.
 */
/**********************************************************************/
main.container-row
{
  padding: 5px 5px 5px 5px;
  justify-content:space-evenly;
}

main div
{
  text-align:center;
}

aside.aside-column
{
  text-align:center;
  max-width:none;
  flex-grow:auto;
}
