/**********************************************************************/
/*! \file  contact.css
 * \author Seth Peterson
 * \par    DigiPen Login: s.peterson
 * \par    Course: CSD 122
 * \date   2020-03-16
 * \brief
 *     This file contains style specific to the contact webpage.
 */
/**********************************************************************/

main section#Submission
{
  height:500px;
  width:90%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
