/**********************************************************************/
/*! \file  contact.css
 * \author Seth Peterson
 * \date   2020-03-16
 * \brief
 *     This file contains style specific to the contact webpage.
 */
/**********************************************************************/

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

footer img
{
  width: 50px;
}
