/*-- File name:     main.css
     Author:        Seth Peterson
     Date:          2018/2/1
     lwtech e-mail: s-seth.peterson@lwtech.edu
     Assignment:    Final Project
     Description:

 This file is the CSS for the Class Webpage
*/

/* Column flex container for all page elements */
.page-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  justify-content: space-around;
  background: orange;
  padding: 40px 40px 40px 40px;
}

/* Row flex container for all parts of the page */
.container-row
{
  display: flex;
  flex-direction: row;
  background: grey;
  padding: 40px 40px 40px 40px;
  align-items: flex-start;
}

.container-column
{
  display: flex;
  flex-direction: column;
  background: grey;
  padding: 40px 40px 40px 40px;
  align-items: center;
}

.prefix-column
{
  flex: 1;
  order: -1;
}

.main-column
{
  flex: 5;
  order: 1;
}

.aside-column
{
  flex: 1;
  order: 2;
}

#navList
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav
{
  flex: 1;
  order: 2;
}

img
{
  width: 100%;
  height: auto;
}
